select {
    appearance: none;
    position: relative;
    width: 300px;
    height: 50px;
    border-radius: 30px 30px 0px 0px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 0;
    border-bottom: 3px solid white;
    background-color: rgba(120, 186, 190, 0.784);
    color: white;
    cursor: pointer;

    option {
       font-size: 16px;
       width: 100px;
    }

}