* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}


button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(56, 59, 61, 0.159);
}

select:focus {
  outline: none;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

#root {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.selected-btn {
  margin-top: 10px;
  background-color: rgba(114, 194, 198, 0.586);
  color: white;
}