.language-selector {
    width: 100%;
    background-color: rgba(120, 186, 190, 0.784);
    margin-bottom: 3px;
    text-align: center;
    color: white;
    padding: 5px 0;
}

.card-wrapper {

    .card {
        height: 380px;
        width: 300px;
        background-color: rgba(120, 186, 190, 0.784);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0px 0px 30px 30px;
        color: white;
        text-align: center;
        cursor: pointer;

        gap: 20px;
        padding: 50px 20px;
        transition: all 0.8s;
        position: relative;

        .card-btns {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                height: 50px;
                background-color: rgba(255, 255, 255, 0.136);
                width: 50px;
                border-radius: 25px;
                background-size: 25px;
                background-position: center;
                background-repeat: no-repeat;

            }

            .next-btn {
                background-image: url('../../assets/check.png');

            }

            .delete-btn {
                background-image: url('../../assets/cross.png');

            }
        }
    }

    .reversed {
        transform: rotateY(180deg);
        transition: all 0.8s;
    }
}